img {
  width: 100%;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column-full {
  width: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-third {
  flex-basis: calc(100% * 2 / 3);
}
