.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  flex-basis: calc(100% / 2);
}

.column-three-fourth {
  flex-basis: 75%;
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.font-karla-400 {
  font-family: karla, sans-serif;
  font-weight: 400;
}

.font-karla-700 {
  font-family: karla, sans-serif;
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.center-text-align {
  text-align: center;
}

.gray {
  color: gray;
}

.button {
  color: rgb(209 76 69);
  background-color: white;
  border-color: rgb(209 75 69);
  padding: 8px 30px;
  border: 1.5px solid;
  margin: 2rem;
}
